:root {
  --background-color: #f2f2f2;
  --text-color: $text-color;
  --marked-color: $text-color;
  --background-image: linear-gradient(-127deg, #333333, #080f1b);
  --color-links: #0099ff;
}

[data-theme="darkMode"] {
  --background-color: rgb(10, 10, 10);
  --text-color: #f2f2f2;
  --marked-color: #f2f2f2;
  --background-image: linear-gradient(-127deg, #0b1424, #080f1b);
  --color-links: #ffe550;
}

html {
  height: auto;
  min-height: 100vh;
  background-size: cover;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}

h2 {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: $terciary-font;
  font-size: 18px;
  font-weight: 500;
}

a.link {
  color: var(--color-links);
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.collapsible {
  &--button {
    background-image: var(--background-image);
    color: white;
    padding: 0px 2rem;
    margin: 1rem;
    border-radius: 1rem;
    h2 {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }
  .collapsible {
    &--button {
      h2 {
        text-align: left;
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 32px;
  }
}
