header.header--classic {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  left: 0px;
  top: 0px;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  width: fit-content;
  //background-color: rgba(10, 10, 10, 0.7);
  z-index: $menu-zindex;
  .navbar--folded {
    display: none;
    animation: slide-right 200ms;
  }
  .navbar--expanded {
    display: flex;
    animation: slide-left 500ms;
    height: 20%;
    width: fit-content;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    right: 1rem;
    align-items: flex-end;
    padding: 0px;
    li {
      list-style: none;
      @include button-base-style;
      &:hover {
        padding-left: 1.5rem;
        transform: scale(1.025);
        transform-origin: right;
      }
      a {
        text-decoration: none;
        color: $text--dark;
        font-size: $font-size-regular-mobile;
        transition: $standard-transition;
        i {
          font-size: $font-size-regular-mobile - 0.2;
          margin-left: 5px;
        }
      }

      a:hover {
        font-weight: 600;
        font-style: italic;
        color: white;
        animation: ease;
        text-shadow: $terciary-color 0px 0px 5px;
      }
    }
  }

  .open-menu {
    display: inline-block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: var(--text-color);
    box-shadow: $classic-box-shadow;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    width: 32px;
    height: 32px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    transition: all ease 500ms;
    transition: rotate(90deg) ease 500ms;
    animation: rotate-180 500ms;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .open-menu--opened {
    color: var(--text-color);
    background-color: var(--background-color);
    position: fixed;
    top: 1rem;
    right: 1rem;
    box-shadow: $classic-box-shadow;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    width: 32px;
    height: 32px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    animation: rotate180 500ms;
  }

  .active {
    color: $primary-color;
    font-weight: 600;
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.dark-mode-button {
  color: white;
  font-size: 24px;
}

@media (min-width: 768px) {
  header.header--classic {
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    top: 0px;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    ul {
      min-width: 40%;
      justify-content: space-around;
      li {
        a {
          font-size: $font-size-regular-desktop - 0.5;
          i {
            font-size: $font-size-regular-desktop - 0.7;
            margin-left: 5px;
          }
        }
      }
    }
    section {
      flex-wrap: wrap;
      min-width: 20%;
      max-width: 40%;
      .fr-flag {
        width: 2.5rem;
        height: auto;
        transition: $standard-transition;
        &:hover {
          transform: scale(1.3);
        }
      }
      .en-flag {
        width: 2.5rem;
        height: auto;
        transition: $standard-transition;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header.header--classic {
    ul {
      min-width: 40%;
      justify-content: space-around;
      li {
        a {
          font-size: $font-size-regular-desktop - 0.5;
          i {
            font-size: $font-size-regular-desktop - 0.7;
            margin-left: 5px;
          }
        }
      }
    }
    section {
      .fr-flag {
        width: 2rem;
      }
      .en-flag {
        width: 2rem;
        height: auto;
      }
    }
  }
}
