/* Mixins du site */
@mixin background-shadow-default {
  background-image: var(--background-image);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 32px;
}

@mixin button-base-style {
  font-family: $primary-font;
  letter-spacing: 2px;
  margin: 7.5px;
  backdrop-filter: blur(2px);
  background-color: rgba(10, 10, 10, 0.7);
  box-shadow: rgba(10, 10, 10, 0.7) 1px 2px 5px;
  border-radius: 10px;
  padding: 0px 1rem;
  transition: all 500ms ease;
  &:hover {
    background-color: rgba(20, 20, 20, 0.5);
    transition: all 200ms ease;
  }
}
